@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date_see {
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.date_see .year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.date_see .year .icon {
  margin-right: 4px;
}

.date_see .see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date_see .see .icon {
  margin-right: 4px;
}

.plase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plase p {
  font-family: 'Roboto', sans-serif;
  margin-right: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #808080;
}

.darck {
  color: white;
  background-color: black;
}

.none {
  display: none;
}

.block {
  display: block;
}

.red {
  color: red;
  cursor: pointer;
}

.eye {
  cursor: pointer;
}

main {
  font-family: 'Inter', sans-serif;
}

.menu {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #000;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.menu .container a .icon {
  color: white;
}

.menu .container .li_lang {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .container .li_lang .lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .container .li_lang .lang p {
  cursor: pointer;
  margin-left: 5px;
}

.menu .container .li_lang .lang .lang_open {
  bottom: -140px;
  position: absolute;
  width: 111px;
  height: 110px;
  background-color: black;
}

.menu .container .li_lang .lang .lang_open p {
  margin-left: 30px;
  height: 36.5px;
}

.menu .container .li_lang .dotGif {
  margin-right: 20px;
}

.menu .container .dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .container .dark .right {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.menu .container .dark .search {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.menu .container .dark .icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.header_end {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.header_end .covid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #D9D9D9;
  padding: 10px 0;
}

.header_end .covid .bat {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #0688E6;
}

.header_end .covid .cov {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header_end .covid .catch_desc {
  margin: 0 10px;
}

.header_end .covid .catch_desc p:first-child {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.header_end .covid .catch_desc p:last-child {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
}

.header_end .covid .recover_desc {
  margin: 0 10px;
}

.header_end .covid .recover_desc p:first-child {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.header_end .covid .recover_desc p:last-child {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.header_end .covid .die_desc {
  margin: 0 10px;
}

.header_end .covid .die_desc p:first-child {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.header_end .covid .die_desc p:last-child {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.header_end .covid .countr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_end .covid .countr .sircle {
  margin-right: 5px;
}

.header_end .covid .countr p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.header_end .date_weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 81px;
  padding: 5px 0;
  border-bottom: 2px solid #D9D9D9;
}

.header_end .date_weather .day {
  margin-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.header_end .date_weather .weather {
  padding-right: 30px;
  border-right: 2px solid #D9D9D9;
}

.header_end .date_weather .weather .weth_img {
  margin-right: 20px;
}

.header_end .date_weather .weather .plase {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;
}

.header_end .date_weather .money {
  padding: 0px 37px;
  border-right: 2px solid #D9D9D9;
}

.header_end .date_weather .money .usd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header_end .date_weather .money .usd p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}

.header_end .date_weather .money .eur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header_end .date_weather .money .eur p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}

.header_end .date_weather .money .rub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header_end .date_weather .money .rub p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}

.header_end .date_weather .money .cny {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_end .date_weather .money .cny p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}

.header_end .date_weather .money .try {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_end .date_weather .money .try p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}

.header_end .date_weather .date .day {
  margin-left: 32px;
}

.header_end .date_weather .date .date_ {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: right;
  text-transform: capitalize;
  color: #231815;
  margin-right: 15px;
}

.header_end .date_weather .date .year {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  text-transform: capitalize;
}

.ONE {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.ONE .column_one {
  width: 780px;
  padding-right: 30px;
  border-right: 2px solid #D9D9D9;
  padding-bottom: 20px;
}

.ONE .column_one h1 {
  width: 750px;
  height: 78px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .img_after_title {
  width: 750px;
  height: 482px;
  margin-bottom: 6px;
}

.ONE .column_one .img_after_title img {
  width: 100%;
  height: 100%;
}

.ONE .column_one .img_from {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.ONE .column_one .img_from p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #808080;
}

.ONE .column_one .desc_one {
  width: 100%;
  height: 130px;
  margin-bottom: 30px;
}

.ONE .column_one .desc_one p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .img_ill {
  width: 100%;
  height: 456px;
  margin-bottom: 53px;
}

.ONE .column_one .img_ill img {
  width: 100%;
  height: 100%;
}

.ONE .column_one .desc_two {
  width: 100%;
  margin-bottom: 30px;
}

.ONE .column_one .desc_two h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  margin-bottom: 8px;
}

.ONE .column_one .desc_two p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .desc_three {
  width: 100%;
  margin-bottom: 30px;
}

.ONE .column_one .desc_three h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  margin-bottom: 7px;
}

.ONE .column_one .desc_three p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .desc_four {
  width: 100%;
  margin-bottom: 40px;
}

.ONE .column_one .desc_four h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  margin-bottom: 7px;
}

.ONE .column_one .desc_four p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .coment_one {
  width: 100%;
  margin-bottom: 40px;
}

.ONE .column_one .coment_one .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.ONE .column_one .coment_one .main .coment_img {
  width: 56px;
  height: 45px;
  margin-right: 5px;
}

.ONE .column_one .coment_one .main .coment_img img {
  width: 100%;
  height: 100%;
}

.ONE .column_one .coment_one .main p {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .coment_one h5 {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  text-align: end;
}

.ONE .column_one .coment_two {
  width: 100%;
  margin-bottom: 40px;
}

.ONE .column_one .coment_two p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .coment_three {
  width: 100%;
  margin-bottom: 30px;
}

.ONE .column_one .coment_three p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  margin-bottom: 10px;
}

.ONE .column_one .desc_five {
  width: 100%;
  margin-bottom: 30px;
}

.ONE .column_one .desc_five p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .desc_six {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ONE .column_one .desc_six .secle {
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 25px;
}

.ONE .column_one .desc_six .secle .yum {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FF0000;
}

.ONE .column_one .desc_six p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .desc_seven {
  width: 100%;
  margin-bottom: 60px;
}

.ONE .column_one .desc_seven p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_one .plase {
  margin-bottom: 60px;
}

.ONE .column_one .ONE_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ONE .column_one .ONE_end .after .bold {
  font-weight: bold;
}

.ONE .column_one .ONE_end .after p {
  margin-bottom: 12px;
}

.ONE .column_one .ONE_end .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ONE .column_one .ONE_end .icons ion-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.ONE .column_two {
  padding-left: 30px;
}

.ONE .column_two .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.ONE .column_two .title img {
  margin-right: 5px;
}

.ONE .column_two .title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_two .cards .card {
  padding: 20px 0;
  border-bottom: 2px solid #D9D9D9;
}

.ONE .column_two .cards .card p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.ONE .column_two .cards .border_none {
  border: none;
  margin-bottom: 60px;
}

.page_reklam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.page_reklam img {
  width: 950px;
  height: 90px;
}

.page_end {
  width: 100%;
  padding-bottom: 60px;
}

.page_end .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.page_end .title img {
  margin-right: 5px;
}

.page_end .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_end .cards .card {
  width: 255px;
  height: 252px;
}

.page_end .cards .card .images {
  margin-bottom: 16px;
}

.page_end .cards .card h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
          font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}
/*# sourceMappingURL=style.css.map */