@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
ol,
ul{
    list-style: none;
}

a{
    text-decoration: none;
    list-style: none;
}
.container{
    width: 1120px;
    margin: 0 auto;
   
}
.flex{
    display: flex;
    align-items: center;

}
.date_see{
    color: #808080;
    display: flex;
    margin-bottom: 6px;
    .year{
        display: flex;
        margin-right: 20px;
        .icon{
            margin-right: 4px;
        }
    }
    .see{
        display: flex;
        .icon{
            margin-right: 4px;
        }
    }
    .audio{
        display: flex;
        margin-right: 20px;
        .icon{
            margin-right: 5px;
        }
    }
}
.plase{
    display: flex;
   p{  
       font-family: 'Roboto', sans-serif;
       margin-right: 16px;
       font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #808080;
   }
}

.darck{
    color: white;
    background-color: black;
   .main{
    .btn_more{
        button{
         background: #141414;
         color: #FF0000;
        }
     }
   }
}
.none{
    display: none;
}
.block{
    display: block;
}
.red{
    color: red;
    cursor: pointer;
}

.eye{
    cursor: pointer;
}

.menu{
       
    font-family: 'Roboto', sans-serif;
 width: 100%;
 background-color: #000;
 height: 85px;
 display: flex;
 align-items: center;
 .container{
    a{
        .icon{
            color: white;
          
        }
      }
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;
     .li_lang{
        font-size: 14px;
         display: flex;
         align-items: center;
         .lang{
             position: relative;
            p{
                cursor: pointer;
                margin-left: 5px;
            }
             display: flex;
             align-items: center;
             .lang_open{
                 bottom: -140px;
                 position: absolute;
                 width: 111px;
                 height: 110px;
                 background-color: black;
                 p{
                     margin-left: 30px;
                     height: 36.5px;
                 }
             }
         }
         .dotGif{
             
             margin-right: 20px;
         }
     }
     .dark{
         display: flex;
         .right{
             width: 36px;
             height: 36px;
             margin-right: 10px;
            
         }
         .search{
            width: 36px;
            height: 36px;
            margin-right: 10px;
           
         }
         .icon{
             cursor: pointer;
             width: 25px;
             height: 25px;
         }
     }
 }

}

.wrapper{
    width: 100%;
    font-family: 'Inter', sans-serif;
.ill{
    .container{
        position: relative;
    }
width: 100%;
background-image: url("Group\ 33632.jpg");
color: white;
padding-top: 119px;
padding-bottom: 76px;
position: relative;
margin-bottom: 200px;
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    margin-bottom: 86px;
    h1{
        width: 390px;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
    }
}
.mini_naz{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

    }
    .first{
        display: flex;
        .world{
            
            display: flex;
            margin-right: 30px;
            ion-icon{
                color: red;
                margin-right: 2px;
            }
        }
    }
}
.ills_img{
    position: absolute;
    bottom: -216px;
    left: -25px;
   
}
}

main{
    .container{
        display: flex;
        .first_half{
         width: 739px;
         border-right: 2px solid #D9D9D9;
         padding-right: 30px;
         margin-bottom: 80px;
         .title{
             h1{
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 40px;
                margin-bottom: 30px;
                
             }
         }
         .search{
             width: 100%;
             height: 50px;
             display: flex;
             justify-content: space-between;
             margin-bottom: 30px;
             .input{
                 padding:11px 0 11px 5px ;
                 border: 1px solid #D9D9D9;
                 height: 100%;
                 width: 544px;
                 align-items: center;
                 display: flex;
                 ion-icon{
                    width: 27px;
                    height: 27px;
                    margin-right: 6px;
                 }
                 input{
                    width: calc(100% - 38px);
                     border: none;
                     outline: none;
                 }
             }
             button{
                 cursor: pointer;
                 width: 152px;
                 height: 100%;
                 border: none;
                 background: #F3F3F3;
                 font-style: normal;
                 font-weight: 600;
                 font-size: 16px;
                 line-height: 19px;

             }
         }
         .countres{
             display: flex;
             justify-content: space-between;
             margin-bottom: 30px;
             .col_one{
                width: 21px;
                padding-top: 10px;
                margin-right: 10px;
                 p{
                   display: flex;
                   align-items: center;
                  
                    margin-bottom: 13px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                    color: #FF0000;
                 }
                 .top{
                 margin-bottom: 20px;
                 }
             }
             .col_two{
                 width: 177px;
                 padding-right: 10px;
                 h3{
                     margin-bottom: 20px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                 }
                 p{
                     border-bottom: 1px solid #D9D9D9;
                     margin-bottom: 5px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                 }
             }
             .col_three{
                 border-left: 1px solid #D9D9D9;
                 width: 165px;
                 padding: 0px 10px;
                 h3{
                     margin-bottom: 20px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                 }
                 p{
                     border-bottom: 1px solid #D9D9D9;
                     margin-bottom: 5px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                 }
             }
         }
         .first_btn{
             width: 100%;
             height: 58px;
            
             button{
                 width: 100%;
                 height: 100%;
                 border: none;
                 background: #FAFAFA;
                 font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 34px;
                font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                color: #FF0000;
             }
         }
         .desc{
             margin-top: 60px;
             margin-bottom: 80px;
             p{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                color: #141414;
                margin-bottom: 15px;
                
             }
         }
         .with_ol{
             margin-bottom: 80px;
             h1{
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 40px;
                margin-bottom: 40px;
             }
             .desc_ol{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
             margin-bottom: 30px;
                 .blue{
                    width: 44px;
                    height: 44px;
                    background: #0688E6;
                    box-shadow: 0px 10px 10px rgba(37, 152, 236, 0.2);
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  
                    p{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 27px;
                        text-align: center;
                        font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                        color: #FFFFFF;
                        
                     }
                 }
                 .text{
                     width: 645px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                 }
                
             }
         }
         .covid{
             margin-bottom: 50px;
             h1{
                 margin-bottom: 30px;
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 40px;
                
             }
             .desc_covid{

                width: 706px;
                height: 75px;
                border: 1px solid #D9D9D9;
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 16px;
                margin-bottom: 10px;
                p{
                    width: 611px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                }
                .blue{
                    color: white;
                    border-radius: 50%;
                    width: 44px;
                    height: 44px;
                    background: #0688E6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    ion-icon{
                        width: 28px;
                        height: 28px;
                    }
                }
             }
         }
        }

        .second{
            padding-left: 30px;
            .title{
                display:flex ;
                margin-bottom: 30px;
                width: 371px;
                img{
                    margin-right: 5px;
                    
                }
                h1{
                    cursor: pointer;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                  
                }
            }
            .card{
                margin-bottom: 30px;
                width: 349px;
                h3{
                  font-style: normal;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 22px;
                  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                }
            }
            .two{
                border-top: 2px solid #D9D9D9;
                padding-top: 30px;
            }
      
        }
    }
}
   
    footer{
        color: white;
        .second_half{
            font-family: 'Inter', sans-serif;
            width: 100%;
            height: 500px;
            position: absolute;
            background: radial-gradient(22.81% 137% at 70% 45%, #2D2D2D 0%, #0F0F0F 100%);
            padding-top: 54px;
           
      .container{
        .menues{
            display: flex;
            justify-content: space-between;
            margin-bottom: 51px;
            
            ul{
                width: 180px;
                height: 224px;
                li{
                    margin-bottom: 10px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;

                }
                .bold{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
                    margin-bottom: 20px;
                  

                }
            }
        }
        .about_us{
            display: flex;
            .imges{
                margin-right: 76px;
            }
         
            .desc{
                margin-right: 14px;
                width: 661px;
                height: 57px;
                margin-bottom: 29px;
                .mini_desc{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
                h3{
                    margin-bottom: 20px;
                }
            }
            .logos{
                img{
                    margin-right: 5px;
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .the_end{
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;

        }
      }
        }
    }
}   